body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", sans-serif;   
    background-color: #f2f2f2; 
}

h1 {
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}

header,
main,
footer {
	width: 1200px;
}

header {
    margin-bottom: 0;
}

.container {
    display: flex;
    position: relative;
    width: 1056px;
    margin: 0 auto;
    padding: 0 73px;
}

.logo {
    position: absolute;
    left: 528px;
}

.main-navigation {
    width: 1056px;
    min-height: 56px;
}

.main-navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.photo-introduction {
    height: 508px; 
    margin: 0 auto 63px;
    background: #81b3d2 url("../img/sedona.jpg") no-repeat;
}

.photo-introduction img {
    margin: 76px 371px 80px;
}

.photo-introduction::before {
    content: url("../img/white-mask.png");
    position: absolute;
    top: 508px;
}

.intro {
    height: 105px;
    margin-bottom: 53px;
    text-align: center;
}

.real-town {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    max-height: 256px;
    margin-bottom: 60px;   
}

.real-town-left {
    min-width: 400px;
    padding: 50px 0;
    text-align: center;
    background-color: #81b3d2;
}

.features-top {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.features-top .features-item {
    min-width: 400px;
    text-align: center;
}

.devil-bridge {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    max-height: 256px;
    margin-bottom: 45px;
}

.devil-bridge-right {
    min-width: 400px;
    padding: 50px 0;
    text-align: center;
    background-color: #81b3d2;
}

.features-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.features-bottom .features-item {
    min-width: 400px;
    text-align: center;
}

.interested {
    height: 100px;
    text-align: center;
    margin-bottom: 135px;
}

form {
    width: 568px;
    height: 481px;
    margin: 0 auto;
}

.map {
    width: 1200px;
    height: 593px;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

.search-criteria form {
    display: flex;
    width: 1056px;
    margin: 0 auto;
    padding: 30px 73px;
}

.infrastructure {
    min-width: 240px;
}

.housing-type {
    min-width: 288px;
}

.price {
    min-width: 328px;
}

.found {
    display: flex;
    justify-content: flex-start;
    width: 1056px;
}

.hotels {
    display: flex;
    justify-content: flex-start;
    width: 1056px;
}

