body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", sans-serif;   
    background-color: #f2f2f2;
    margin: 0 0 0 40px;  
}

h1 {
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}

header .container {
    width: 1056px;
    margin: 0 auto;
    padding: 0 73px;
}

.main-navigation {
    width: 1056px;
    min-height: 56px;
}

.photo-introduction:nth-child(2) {
    width: 458px;
    height: 352px;
    margin: 70px auto 24px;
}

.photo-introduction:nth-child(3) {
    margin: 0 auto 65px;
}

.intro {
    min-height: 94px;
    margin-bottom: 58px;
}

.real-town {
    display: flex;
}

.real-town-left {
    width: 400px;
    height: 256px;
}

.real-town-right {
    width: 800px;
    height: 256px;
}

.features-top {
    display: flex;
}

.features-top .features-item {
    width: 400px;
    height: 330px;
}

.devil-bridge {
    display: flex;
}

.devil-bridge-left {
    width: 800px;
    height: 256px;
}

.devil-bridge-right {
    width: 400px;
    height: 256px;
}

.features-bottom {
    display: flex;
    margin-bottom: 58px;
}

.features-bottom .features-item {
    width: 400px;
    height: 256px;
}

.interested {
    height: 95px;
    margin-bottom: 55px;
}

form {
    width: 568px;
    height: 481px;
}

.map {
    width: 1200px;
    height: 473px;
}

footer .container {
    display: flex;
}

.footer-hashtag {
    width: 400px;
}

.footer-social {
    width: 400px;
}

.footer-copyright {
    width: 400px;
}

.search-criteria {
    width: 1056px;
    margin: 0 auto;
    padding: 30px 73px;
}

.search-criteria-left {
    display: flex;
}

,infrastructure {
    width: 241px;
}

.housing-type {
    width: 288px;
}

.search-criteria-right {
    width: 528px;
}


.search-criteria-right {
    width: 600px;
}

.found {
    display: flex;
    width: 1056px;
}

.found-left {
    width: 528px;
}

.found-right {
    width: 40px;
    margin-left: 488px;
}

.hotels {
    display: flex;
    width: 1056px;
}

.left {
    width: 528px;
}

.right {
    width: 240px;
    margin-left: 288px;
}



