body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;   
    background-color: #f2f2f2; 
}

h1 {
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}

h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 10px 10px 0 rgba(0, 1, 1, 0.2);
}

header {
    margin-bottom: 0;
}

.container {
    display: flex;
    position: relative;
    width: 1056px;
    margin: 0 auto;
    padding: 0 72px;
    background: white;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.main-navigation {
    width: 1056px;
    min-height: 56px;
}

.main-navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.main-navigation ul li:first-child {
    width: 240px;
    text-align: start;
}

.main-navigation ul li:nth-child(2) {
    width: 288px;
    text-align: start;
}

.main-navigation ul li:nth-child(3) {
    width: 288px;
    text-align: end;
}

.main-navigation ul li:last-child {
    width: 240px;
    text-align: end; 
}

.main-navigation li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.main-navigation li a:hover {
    color: #81b3d2;
}

.main-navigation li a:active {
    opacity: 0.3;
}

.main-navigation li .active {
    color: #766357;
    cursor: default;
}

.main-navigation li .active:hover {
    color: #604e43;
}

main {
    background-color: white;
}

.photo-introduction {
    height: 508px; 
    margin: 0 auto 63px;
    background: #81b3d2 url("../img/sedona.jpg") no-repeat;
    text-align: center;
}

.photo-introduction img {
    margin-top: 76px;
    margin-bottom: 80px;
}

.photo-introduction::before {
    content: url("../img/white-mask.png");
    position: absolute;
    top: 508px;
    left: 50%;
    margin-left: -600px;  
}

.intro {
    height: 105px;
    margin-bottom: 50px;
    text-align: center;
}

.intro h2 {
    line-height: 26px;
    margin-bottom: 25px;
}

.real-town {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    max-height: 256px;
    margin-bottom: 60px;   
}

.real-town-left {
    min-width: 400px;
    padding: 50px 0;
    text-align: center;
    color: white;
    background-color: #81b3d2;
}

.real-town-left h2 {
    color: white;
    margin-top: 2px;
}

.real-town-left p {
    margin-top: 22px;
}     

.features-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.feature-img {
	height: 76px;
}

.features-top .features-item {
    min-width: 400px;
    text-align: center;
}

.features-top .features-name {
    margin-top: 22px;
}

.features-item p {
    margin-top: 22px;
}

.devil-bridge {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    max-height: 256px;
}

.devil-bridge-right {
    min-width: 400px;
    padding: 50px 0;
    text-align: center;
    color: white;
    background-color: #81b3d2;
}

.devil-bridge-right h2 {
    color: white;
    margin-top: 5px;
}

.devil-bridge-right p {
    margin-top: 25px;
}

.features-bottom {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 47px;
    margin-bottom: 55px;
    background-color: #eeeeee;
}

.features-bottom .features-item {
    min-width: 400px;
    text-align: center;
}

.features-bottom .features-name {
    margin-top: 5px;
}

.interested {
    height: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.interested p {
    margin-top: 30px;
    line-height: 24px;
}

.link-to-hotels {
    position: relative;
    width: 568px;
    height: 86px;
    background-color: #766357;
    text-align: center;
    z-index: 2;
}

.link-to-hotels a {
    display: inline-block;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}

form {
    width: 568px;
    height: 481px;
    margin: 0 auto 78px;
}

.form-content {
    position: relative;
    height: 285px;   
    padding: 55px;
    font-weight: bold;
    z-index: 2;
    background: white;
    box-shadow: 0 10px 20px 0 rgba(0, 1, 1, 0.2);
}

.arrivals input[type="text"],
.departures input[type="text"] {
    position: relative;
    width: 346px;
    height: 38px;
    text-indent: 12px;
    font-family: inherit;
    font-weight: bold;
    background-color: #f2f2f2;
    border: 0;
}

.arrivals input[type="text"] {
    margin-left: 18px;
}

.departures input[type="text"] {
    margin-left: 14px;
}

.adults input[type="text"],
.children input[type="text"] {
    width: 38px;
    height: 36px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2;
    border: 0;
}

input[type="text"]:hover {
    background-color: #ebebeb;
}

input[type="text"]:focus {
    outline: 2px solid #ebebeb;
    background-color: white;
}
	
.arrivals,
.departures {
    margin-bottom: 28px;
}

.arrivals .calendar {
    display: inline-block;
    background: url("../img/icon-calendar.png") no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 63px;
    right: 65px;
    cursor: pointer;
}

.arrivals .calendar:hover {
    background-position: 0 -22px;
}

.arrivals .calendar:active {
    background-position: 0 -44px;
}

.departures .calendar {
    display: inline-block;
    background: url("../img/icon-calendar.png") no-repeat 0 0;
    width: 21px;
    height: 22px;
    position: absolute;
    top: 130px;
    right: 65px;
    cursor: pointer;
}

.departures .calendar:hover {
    background-position: 0 -22px;
}

.departures .calendar:active {
    background-position: 0 -44px;
}

.guests {
    display: flex;
    justify-content: space-between;
    max-width: 458px;
    margin-bottom: 55px;
}

.adults {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 226px;
}

.adults label {
    width: 112px;}

.children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.children label {
    width: 66px;
}

.adults .minus {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #f2f2f2 url("../img/icon-minus.png") no-repeat;
    vertical-align: middle;
}

.adults .minus:hover {
    background-position: 0 -38px;
}

.adults .minus:active {
    background-position: 0 -76px;
}

.adults .plus {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #f2f2f2 url("../img/icon-plus.png") no-repeat;
    vertical-align: middle;
}

.adults .plus:hover {
    background-position: 0 -38px;
}

.adults .plus:active {
    background-position: 0 -76px;
}

.children .minus {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #f2f2f2 url("../img/icon-minus.png") no-repeat;
    vertical-align: middle;
}

.children .minus:hover {
    background-position: 0 -38px;
}

.children .minus:active {
    background-position: 0 -76px;
}

.children .plus {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #f2f2f2 url("../img/icon-plus.png") no-repeat;
    vertical-align: middle;
}

.children .plus:hover {
    background-position: 0 -38px;
}

.children .plus:active {
    background-position: 0 -76px;
}

.button input[type="submit"] {
    width: 458px;
    padding: 16px 0;
    background: #81b3d2;
    color: white;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    border: 0;
}

input[type="submit"]:hover {
    background-color: #669ec0;
}

input[type="submit"]:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.map {
    position: absolute; 
    top: 2171px;
    z-index: 1;
    width: 1200px;
    height: 593px;
}

footer .container {
    position: relative;
    min-height: 122px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 2;
    background: white;
}

footer .bg-opacity {
    opacity: 0.9;
}

.footer-hashtag {
    margin-left: 60px;
    font-size: 21px;
    font-weight: bold;
}

.social {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 3px;
    background: #81b3d2 url("../img/social.png") no-repeat;
    vertical-align: middle;
}

.social:hover {
    background-color: #669ec0;
}

.social:active {
    background-color: #5496bd;
}

.footer-social a:first-child {
    margin-left: 28px;
}

.footer-social a:last-child {
    margin-right: 0;
}

.social-twitter {
    background-position: 0 0;
}

.social-twitter:active {
    background-position: 0 -48px;
}

.social-facebook {
    background-position: -51px 0;
}

.social-facebook:active {
    background-position: -51px -48px;
}

.social-youtube {
    background-position: -103px 0;
}

.social-youtube:active {
    background-position: -103px -48px;
}

.footer-copyright {
    margin-right: 30px;
}

.academy {
    width: 113px;
    height: 39px;
    background: url("../img/icon-academy.png") no-repeat 0 0;
    vertical-align: middle;
}

.academy:hover {
    background-position: 0 -40px; 
}

.academy:active {
    background-position: 0 -80px;
}

.container .footer-copyright span,
.container .footer-copyright a {
    display: inline-block;
    vertical-align: middle;
}

.container .footer-copyright span {
    margin-right: 5px;
}

.search-criteria {
    height: 217px;
}

.search-criteria form {
    display: flex;
    width: 1056px;
    height: 157px;
    margin: 0 auto;
    padding: 30px 73px;
    background: url("../img/search-background.jpg") no-repeat;
    color: white;
}

.infrastructure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 254px;
}

.housing-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 474px;
}

.price {
    min-width: 318px;
    margin-left: 10px;
}

.price h2 {
    margin-left: -10px;
    margin-bottom: 8px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: white;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    line-height: 34px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 60px;
}

.price-controls input {
    width: 50px;
    margin: -1px 4px;
    color: white;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: white;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-max {
    left: 80%;
}

.search-criteria div {
    max-height: 160px;
}

form h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    color: white;
}

.inner-button input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.inner-button input[type="submit"]:hover {
    color: #000000;
    background: white;
}

.found {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1056px;
    height: 87px;
    margin: 0 auto;
    padding: 0 72px;
    border-bottom: 1px solid #e5e5e5;
}

.found h2 {
    margin-right: 40px;
}

.found p {
    font-size: 12px;
    color: black;
    text-align: start;
}

.found .sort {
    width: 770px;
}

.sort ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    max-width: 240px;
}

.sort ul li a {
    font-size: 12px;
    color: #b2b2b2;
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sort ul li a:hover {
    color: #81b3d2;
}

.sort ul li a:active {
    color: black;
    border: none;
}

.sort .active {
    color: #81b3d2;
    border: none;
}

.sort-list {
    width: 38px;
}

.up {
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-right: 10px;
    background: url("../img/icon-up.png") no-repeat 0 0;
    vertical-align: middle;    
}

.up:hover {
    background-position: 0 -12px;
}

.up:active {
    background-position: 0 -23px;
}

.down {
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url("../img/icon-down.png") no-repeat 0 -22px;
    vertical-align: middle;    
}

.hotels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1056px;
    padding: 0 72px;
    height: 150px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
    margin-right: 30px;
}

.hotel-description {
    width: 780px;
    height: 90px;
}

.hotel-description h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.hotel-description h2:hover {
    color: #81b3d2;
}

.hotel-description h2:active {
    opacity: 0.3;
}

.hotel-description p {
    margin-top: 9px;
    margin-bottom: 10px;
}

.hotel-description a {
    text-decoration: none;
}

.details-n-book {
    display: flex;
    justify-content: space-between;
    width: 258px;
}

.more {
    display: inline-block;
    width: 80px;
    height: 21px;
    padding: 3px 15px;
    color: white;
    font-weight: bold;
    background: #81b3d2;
}

.more:hover {
    background: #669ec0;
}

.more:active {
    color: #7aadcb;
    background: #5496bd;
}

.reserve {
    display: inline-block;
    width: 112px;
    height: 21px;
    padding: 3px 15px;
    color: white;
    font-weight: bold;
    background: #766357;
}

.reserve:hover {
    background: #604e43;
}

.reserve:active {
    color: #766860;
    background: #503e33;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px;
    height: 90px;
}

.rating p {
    padding: 3px 10px;
    margin: 0;
    background: #f2f2f2;
    text-align: end;
}

.star {
    text-align: end;
}

.star img {
    margin-left: 4px;
}